@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    top: 0;
    left: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: #0D1A2D;
    display: flex;
    justify-content: center;
    align-items: center;
}
#card{
    margin-top: 100px;
    height: 520px;
    width: 300px;
    border-radius: 20px;
    background-color: #15273F;
    padding: 20px;
    box-shadow: 3px 2px 8px 2px rgba(0, 0, 0, 0.5);
}
#image{
    width: 260px;
    height: 260px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #00FFF8;
    background-image: url(img/icon-view.svg);
    background-repeat: no-repeat;
    background-position: center;
}
#image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.equi:hover{
filter: opacity(50%);
}
#title{
    color: white;
    font-size: 0.6em;
}
#title:hover{
    color: #00FFF8;
}
#description{
    color: #8BACD9;
}
#priceanddate{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
}
#price{
    color: #00FFF8;
    display: flex;
    align-items: center;
}
#date{
    color: #8BACD9;
    display: flex;
    align-items: center;
}
hr{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #8BACD9;
}
#line{
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #8bacd967;
    margin-top: 25px;
    margin-bottom: 25px;
}
#creator{
    width: 100%;
    height: 30px;
}
#profilpicture{
    height: 30px;
    width: 30px;
    border-radius: 30px;
    border: 2px solid white;
    overflow: hidden;
}
#profilpicture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#creator{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#created{
    color: #8BACD9;
    font-size: 0.9em;
    padding-inline: 10px;
}
#name{
    color: white;
    font-size: 0.9em;
}